:root.theme-dark {
  --main-text-color: #f1b2ce;
  --bg-color: #000028;
  --main-header-color: #db00ff;
  --button-hover-border: #ff007066;
  --article-header-color: #000028;
  --button-color: #ff0070;
  --section-header-color: #ff0070;
  --accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-type: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #f1b2ce;
    --bg-color: #000028;
    --main-header-color: #db00ff;
    --button-hover-border: #ff007066;
    --article-header-color: #000028;
    --button-color: #ff0070;
    --section-header-color: #ff0070;
    --accent-color: #ff0070;
    --bg-image: url("../images/cover-image-dark.png");
    --rec-type: block;
  }
}
